.idea/

bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

MovieRecommender.db
MovieRecommender.db-shm
MovieRecommender.db-wal

tokenwordlist.txt

launchSettings.json

appsettings.Development.json

/MovieRecommender/.env
